* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: roboto, courier, sans-serif;
}


/* header first part  */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #1F2937;
    padding: 10px 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 12px;
}

.first-header, .second-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

ul {
    display: flex;
    gap: 15px;

}


/* header second-half part  */



h1 {
    color: #F9FAF8;
    font-size: 48px ;
    font-weight:900;
}


.second-header p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.first-button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 2px 12px;
    border: 1px solid #1F2937;
}

/* .second-header {
    display: flex;
    margin-top: 10px;
} */

img {
    width: 300px;
    height: 150px;
    margin-left: 20px;
}



/* _____________________ header complete ______above_________ */

.original-main {
    flex: 1;
}
.main {
    /* background-color: rgb(255, 255, 255); */
    padding: 10px 150px;
    margin-bottom: 50px;
}


.main-headline {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 36px;
}



.main-body {
    display: flex;
    gap: 10px;
}

.container img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* background-color: pink; */
}


.main-body p {
    text-align: center;
}

/* +++++++++++++++++++++++half-body complete+++++++++++++above+===== */


.quote {
    background-color:#e5e7eb ;
    padding: 50px 175px;
}

.first-para {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.second-para {
    text-align: right;
    font-weight: bold;

}


/* ++++++++++++++++++++++++++++++++++++++second-half body compelte _=++++++++++above  */

.cta {
    background-color: #3882f6;
    margin: 50px 150px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    border-radius: 10px;
}

.cta P, .cta h2 {
    color: #e5e7eb;
}

.cta button {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0px 20px;
    margin: 10px;

}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;
}